<link rel="stylesheet" href="/views/studentnoticeboard/studentnoticeboard.css">


<div class="container" style="margin-top: 80px;">
  <ul class="nav nav-tabs">
    <li role="presentation"><a href="#!/hibi">Hibiscus Notice-board</a></li>
      <li role="presentation" class="active"><a href="#!/student_notice_board">Student Notice-Board</a></li>
    <li role="presentation" ><a href="#!/mycourses">CourseWare</a></li>
    <li role="presentation"  ><a href="#!/attendance">Attendence</a></li>
    <li role="presentation" ><a href="#!/grades">Grades</a></li>
  </ul>

  <div style="height:10px"></div>
  <div id="loading" class="loader"></div>

  <button class=" bottom mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect" ng-show="authentication" data-toggle="modal" data-target="#myModal">
  <i class="material-icons">add</i></button>

  <div ng-repeat="i in studentnotices |  orderBy:'':true" >
        <div class="">
          <p class="ion ion-calendar"> {{i.date}}</p>
          <p class="ion pull-right ion-ios-information-outline"> {{i.attention}}</p>
        </div>

        <h4><a href=""  data-toggle="modal" data-target="#Modal" ng-click="studentnoticedata(i)">{{i.title}}</a></h4>
       <p class="ion ion-compose">  {{i.posted_by}}</p>
       <hr>
</div>

</div>
<!-- data modal -->
<div id="Modal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Notice</h4>
      </div>
      <div class="modal-body">
        {{noticedata}}

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>



<!--post Modal -->
<div id="Modal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Modal Header</h4>
      </div>
      <div class="modal-body">

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>


<!-- post Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Notice</h4>
      </div>
      <div class="modal-body">
        <label><b>Date</b></label>
       <input type="text" class="form-control" placeholder="Date" name="date"  ng-model="post.date" required>

       <label><b>Title</b></label>
       <input type="text" class="form-control" placeholder="Title" name="title" ng-model="post.title" required>
       <label><b>Description</b></label>
       <textarea class="form-control" rows="5" placeholder="Description" ng-model="post.description" required></textarea>
       <label><b>Attention</b></label>
       <input type="text" class="form-control" placeholder="Attention" name="attention" ng-model="post.attention" required>
       <label><b>posted_by</b></label>
       <input type="text" class="form-control" placeholder="Posted By" name="posted_by" ng-model="post.posted_by" required>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" ng-click="p(post)" data-dismiss="modal">POST</button>
      </div>
    </div>
  </div>
</div>
