
<link rel="stylesheet" href="./views/hibilogin/hibilogin.css">

<div class="container topspace" >
      <img class="center-block hibi" src="./views/hibilogin/hibi.png">
      <h3 style="text-align:center">Login with Hibiscus</h3>
      <hr>
      <form name="hibiloginform" novalidate>
          <input type="text" class="form-control" name="uid" ng-model="data.uid" placeholder="Hibiscus ID" ng-required="true">
          <div ng-show="hibiloginform.uid.$invalid && hibiloginform.uid.$touched" class="alrt">
            <span>please fill username</span>
          </div>
          <input type="password" class="form-control"  name="pwd" ng-model="data.pwd" placeholder="password" ng-required="true">
          <div ng-show="hibiloginform.pwd.$invalid && hibiloginform.pwd.$touched" class="alrt">
            <span>please fill password</span>
          </div>
          <a><button type="submit" class="btn btn-primary" name="submit"  ng-click="login(data)">Next</button></a>
          <hr>
      </form>

</div>
