<link rel="stylesheet" href="/views/grades/grades.css">

<div class="container topspace"  style="margin-top: 80px;">
  <ul class="nav nav-tabs">
    <li role="presentation"><a href="#!/hibi">Hibiscus Notice-board</a></li>
    <li role="presentation"><a href="#!/student_notice_board">Student Notice-Board</a></li>
    <li role="presentation" ><a href="#!/mycourses">CourseWare</a></li>
    <li role="presentation"  ><a href="#!/attendance">Attendence</a></li>
    <li role="presentation" class="active"><a href="#!/grades">Grades</a></li>

  </ul>

  <div style="height:10px">

  </div>
<div id="loading" class="loader"></div>

<div ng-bind-html="grades">

</div>

</div>
